@font-face {
    font-family: 'Avenir Next Cyr Thin';
    src: url('../fonts/avenirnextcyr/AvenirNextCyr-Thin.eot');
    src: url('../fonts/avenirnextcyr/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenirnextcyr/AvenirNextCyr-Thin.woff') format('woff'),
        url('../fonts/avenirnextcyr/AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url('../fonts/filsonsoft/FilsonSoft-medium.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Filson Soft';
}

/*=============================================
=            Cart styling                     =
=============================================*/

#cart-wrapper {
    position:absolute;
    top:10%;
    background-color:#f8f8f8;
    width:100%;
    padding:9rem;
}

#left-block {
    background-color:#fff;
}

#coins,
#leafscore {
    height:2rem;
}


/*----------  Radio btns  ----------*/

.radio {
	padding: 4px;
	border-radius: 3px;
}

.radio input {
	width: auto;
	height: 100%;
    color:#07237b;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	font-size: 14px;
	transition: all 100ms linear;
}

.radio input:checked {
	outline:solid 1px #07237b;
	background-color:#f7c608;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

